html {
    font-size: 100%;
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

h1, h2 {
    font-family: 'Vidaloka', 'Century Gothic', 'Verdana', serif;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin: auto;
}

body {
    font-family: 'Roboto', 'Palatino', 'Georgia', sans-serif;
    /* background: #BFA3B2; */
    background: rgb(191,163,178);
    background: linear-gradient(90deg, rgba(191,163,178,1) 0%, rgba(221,121,175,1) 35%, rgba(191,137,218,1) 100%);
    color: #000;
    margin: 0;
}

img {
    display: block;
    width: 100%;
}


#caption {
  font-size: 15px;
}

#byline {
  font-size: 20px;
  margin-top: 0;
  font-style: italic;
}


/* grid container */
#container {
    max-width: 850px;
    margin: auto; /* keep */
    display: grid; /* keep */
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
        "header header header header"
        "about about about about"
        "a b c d"
        "songA songB songC songD"
        "footer footer footer footer";
}

.photo-icon {
  margin: auto;
  background: transparent;
  padding-top: 15px;
}

.info {
  background: transparent;
  font-size: 15px;
  font-style: italic;
  text-transform: uppercase;
  margin: auto;
  text-align: center;
}

/* all grid items */

    header {
        grid-area: header; /* keep */
        text-align: center;
        font-size: 2rem;
        padding: 5px;
        margin: 0;
    }

    #about {
      margin-top: 15px;
      grid-area: about; /* keep */
      text-align: left;
      font-size: 25px;
      padding: 35px;
      line-height: 30px;
    }

    #a {
        grid-area: a; /* keep */

    }

    #b {
        grid-area: b; /* keep */

    }

    #c {
        grid-area: c; /* keep */

    }

    #d {
        grid-area: d; /* keep */

    }

    #songA {
        grid-area: songA; /* keep */

    }

    #songB {
        grid-area: songB; /* keep */
    }

    #songC {
        grid-area: songC; /* keep */
    }

    #songD {
        grid-area: songD; /* keep */
    }

    footer {
        grid-area: footer; /* keep */
        text-align: center;
        margin-top: 10px;
    }

/* pseudo classes */
a {
    color: #fff;
    text-decoration: underline;
}
a:hover {
    color: #D9D6D0;
}

@media screen and (max-width: 800px) {
  #container {
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(11, auto);
  grid-template-areas:
  "header"
  "about"
  "a"
  "songA"
  "b"
  "songB"
  "c"
  "songC"
  "d"
  "songD"
  "footer";
  }

  header {
      font-size: 23px;
    }

  #about {
    font-size: 20px;
    padding: 20px;
    text-align: center;
  }

  .photo-icon {
  width: 60%;
  }

  footer {
    padding: 10px;
  }

}
